### Topics
This notebook covers the following topics -
1. Basic Concepts
    1. [Basic Syntax](#basic-syntax)
    2. [Lists](#lists)
    3. [String Manipulation](#string)
    4. [Decision making (If statement)](#if)
    5. Loops
        1. [For loop](#for)
        2. [While loop](#while)
    6. [Function](#func)
    7. Misc
        1. [Dictionary](#dict)
        2. [Tuples](#tuple)
2. Advanced Concepts
    1. [Numpy](#numpy)
    2. [Pandas](#pandas)
    3. [Matplotlib (Plotting)](#plot)
    4. [pdb (Debugging)](#pdb)

### Basic Syntax <a class="anchor" id="basic-syntax"></a>

###### Hello World!

In [1]:
#A basic print statement to display given message
print("Hello World!")

Hello World!

##### Basic Operations

In [57]:
#Addition
2 + 10

12

In [60]:
#Subtraction
2 - 10

-8

In [61]:
#Multiplication
2*10

20

In [62]:
#Division
3/2

1.5

In [63]:
#Integer division
3//2

1

In [58]:
#Raising to a power
10**3

1000

In [59]:
#Exponentiating - not the same as 10^3
10e3

10000.0

##### Defining Variables
You can define variables as `variable_name = value`
- Variable names can be alphanumeric though it can't start with a number.
- Variable names are case sensitive
- The values that you assign to a variable can be of these 5 standard data types
    - Numbers (floats, integers, complex etc)
    - Strings*
    - List*
    - Tuple*
    - Dictionary*  
    *Discussed in a later section. Will only show how to define them in this section.

In [10]:
#Numbers
my_num = 5113  #Example of defining an integer
my_float = 3.0 #Example of defining a float

#Strings
truth = "This crash course is just the tip of the iceberg o_O"

#Lists
same_type_list = [1,2,3,4,5] #A simple list of same type of objects - integers
mixed_list = [1,2,"three", my_num, same_type_list] #A list containing many type of objects - integer, string, variable, another list

#Dictionary
simple_dict = {"red": 1, "blue":2, "green":3} #Similar to a list but enclosed in curly braces {} and consists of key-value pairs

#Tuple
aTuple = (1,2,3) #Similar to a list but enclosed in parenthesis ()

##### More print statements
Now we're going to print the variables we defined in the previous cell and look at some more ways to use the print statement

In [3]:
#printing a variable
print(my_float)

3.0

In [11]:
#printing the truth!
print(truth)

This crash course is just the tip of the iceberg o_O

In [4]:
print(simple_dict)

{'red': 1, 'blue': 2, 'green': 3}

In [8]:
print(mixed_list) #Notice how the 4th & 5th objects got the value of the variables we defined earlier

[1, 2, 'three', 5113, [1, 2, 3, 4, 5]]

In [12]:
#Dynamic printing
print("This is DSA {}".format(my_num)) #The value/variable given inside format replaces the curly braces in the string

This is DSA 5113

In [15]:
#When the dynamically set part is a number, we can set the precision
print("Value of pi up to 4 decimal places = {:.4f}".format(3.141592653589793238))

Value of pi up to 4 decimal places = 3.1416

###### Variable Type & Conversion
Every variable has a type (int, float, string, list, etc) and some of them can be converted into certain types

In [16]:
#Finding out the type of a variable
type(my_float)

float

In [17]:
#printing the types of some other variables
print(type(my_num), type(simple_dict), type(truth), type(mixed_list))

<class 'int'> <class 'dict'> <class 'str'> <class 'list'>

In [18]:
#Converting anything to string
str(my_float)

'3.0'

In [19]:
str(simple_dict)

"{'red': 1, 'blue': 2, 'green': 3}"

In [20]:
str(mixed_list)

"[1, 2, 'three', 5113, [1, 2, 3, 4, 5]]"

In [21]:
#converting string to number
three = "3"
int(three)

3

In [22]:
float(three)

3.0

In [25]:
#Converting tuple to a list
list(aTuple)

[1, 2, 3]

In [27]:
#Converting list to a tuple
tuple(same_type_list)

(1, 2, 3, 4, 5)

### Lists <a class="anchor" id="lists"></a>

A versatile datatype that can be thought of as a collection of comma-seperated values.  
Each item in a list has an index. The indices start with 0.  
The items in a list doesn't need to be of the same type

In [70]:
#Defining some lists
l1 = [1,2,3,4,5,6]
l2 = ["a", "b", "c", "d"]
l3 = list(range(2,50,2)) #Creates a list going from 2 up to and not including 50 in increments of 2
print(l3) #displaying l3

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [33]:
#Length of a list 
#The len command gives the size of the list i.e. the total number of items
len(l1)

6

In [34]:
len(l2)

4

**Accessing list items** 
List items can be accessed using their index.  
The first item has an index of 0, the next one has 1 and so on

In [32]:
#First item of l2 is "a" and third item of l1 is 3
print("First item of l2: {}".format(l2[0])) # l2[0] accesses the item at 0th index of l2
print("Third item of l1: {}".format(l1[2])) # l1[0] accesses the item at 2nd index of l1

First item of l2: a
Third item of l1: 3

**Indexing in reverse** List items can be accessed in reversed order using negative indices.  
The last item canbe accessed with -1, second from last with -2 and so on

In [36]:
print("Last item of l3: {}".format(l3[-1])) 
print("Third to last item of l1: {}".format(l1[-3]))

Last item of l3: 48
Third to last item of l1: 4

**Slicing**  
Portions of a list can be chosen using some or all of 3 numbers - starting index, stopping index and increment  
The syntax is `list_name[start:stop:increment]`

In [38]:
#If I want 2,3,4 from list l1, I want to start from index 1 and end at index 3
#The stopping indes is not included so we choose 3+1=4 as stopping index
l1[1:4]

[2, 3, 4]

In [41]:
#In this example we chose items from idex 1 up to index 5, skipping an item every time (increment of 2)
l1[1:6:2]

[2, 4, 6]

In [42]:
#If we just indicate starting index, everything after that is kept
l1[2:]

[3, 4, 5, 6]

In [44]:
#If we just indicate stopping index, everything up to that is kept
l1[:4]

[1, 2, 3, 4]

In [46]:
#Using reverse index
l1[:-2] #Everything except for the last 2 items

[1, 2, 3, 4]

##### List operations

In [50]:
#"adding" two lists results in concatenation
l4 = l1 + l2
l4

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd']

In [51]:
#Multiplying a list by a scalar results in repetition
["hello"]*5

['hello', 'hello', 'hello', 'hello', 'hello']

In [52]:
l2*3

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [53]:
[2]*7

[2, 2, 2, 2, 2, 2, 2]

##### Some other popular string manipulation functions

In [71]:
#Appending to the end of an existing string
l2.append("e")
l2

['a', 'b', 'c', 'd', 'e']

In [72]:
#Insert an item at a particular index - list_name(index, value)
l2.insert(2,"f")
l2

['a', 'b', 'f', 'c', 'd', 'e']

In [74]:
#sorting a list
l2.sort()
l2

['a', 'b', 'c', 'd', 'e', 'f']

In [75]:
#removes item by index and returns the removed item
l4.pop(3) #remove the item at index 3
l4

[1, 2, 3, 5, 6, 'a', 'b', 'c', 'd']

In [76]:
#remove item by matching value
l4.remove("a")
l4

[1, 2, 3, 5, 6, 'b', 'c', 'd']

In [66]:
#maximum or minimum value of a list
max(l3)
#min(l3) for minimum

48

### String Manipulation <a class="anchor" id="string"></a>

Strings are values enclosed in single quotes ('') or double quotes ("")  
These are characters or a series of characters and can be manipulated in very similar way to lists, though they have their own special functions

In [91]:
#Defining some strings
str1 = "I hear Rafia is a harsh grader"
str2 = "NO NEED TO SHOUT"
str3 = "fine, no caps lock"

**Accessing & Slicing**

In [82]:
#Very similar to lists
print(str1[:12]) #Takes the 1st 10 characters
print(str1[0]) #Accesses the first character
print(str2[-5:]) #Takes last 5 characters
print(str3[6:13]) #Takes 6 through 9

I hear Rafia
I
SHOUT
no caps

**Other popular string manipulation functions**

In [83]:
#Splitting a string based on a sperator - str_name.split(separator)
print(str1.split(" ")) #separating based on space
print(str2.split()) #If no argument is given to split, default separator is space
print(str3.split(",")) #separating based on space

['I', 'hear', 'Rafia', 'is', 'a', 'harsh', 'grader']
['NO', 'NEED', 'TO', 'SHOUT']
['fine', ' no caps lock']

In [93]:
#Changing case
print(str2.lower()) #All lower case
print(str3.upper()) #All upper case
print(str3.capitalize()) #Only first letter upper case
print("Red".swapcase()) #swaps cases

no need to shout
FINE, NO CAPS LOCK
Fine, no caps lock
rED

In [89]:
#Replace characters by given string
str1.replace("harsh", "good")

'I hear Rafia is a good grader'

In [90]:
#Find a given pattern in a string
str1.find("Rafia") #Returns the index of where the pattern is found

7

In [85]:
#Concatenating and formating string
print(str2 + "  --  " + str3) #adding string concatenates them
str4 = "Strings can be anything, like {} is a string".format(12345)
print(str4)

NO NEED TO SHOUT  --  fine, no caps lock
Strings can be anything, like 12345 is a string

In [86]:
#Like lists, we can multiply to repeat
"Hi"*4

'HiHiHiHi'

In [87]:
#Like lists, we can use len command to find the size of a string
len("apples")

6

**Special Characters**

In [94]:
#\n makes a new line
print("This is making \n a new line")
#\t inserts a tab
print("This just inserts \t a tab")

This is making
 a new line
This just inserts 	 a tab

### If Statement <a class="anchor" id="if"></a>

Executing blockes of code based on whether or not a given condition is true  
The syntax is -
```
if (condition):
    Do somthing
elif (condition):
    Do something else
else:
    Do something else
```  
Only one block will execute - the condition that returns true first  
You can use as many elif blocks as needed

In [99]:
if ("c" in l2):
    print("Yes c is in l2")
    l2.remove("c")
    print("But now it's removed. Here's the new list")
    print(l2)

Yes c is in l2
But now it's removed. Here's the new list
['a', 'b', 'd', 'e', 'f']

In [95]:
a = 5 #defining a variable

In [96]:
if (a>10):
    print("a is greater than 10")
else:
    print("a is less than 10")

a is less than 10

In [97]:
if (a>5):
    print("a is greater than 5")
elif (a<5):
    print("a is less than 5")
else:
    print("a is equal to 5")

a is equal to 5

In [101]:
# assigning a value to variable using if statement
str5 = "This is a great class"
b = "yes" if "great" in str5 else "no" #if great is in str5, b will get a value of yes, otherwise it will be no
c = 1 if a>10 else 0 #if the variable a is greater than 10, c will be 1, otherwise 0
print("b = {}, c = {}".format(b,c))

b = yes, c = 0

### For Loop <a class="anchor" id="for"></a>

### While Loop <a class="anchor" id="while"></a>

### Function <a class="anchor" id="func"></a>

### Dictionary <a class="anchor" id="dict"></a>

### Tuples <a class="anchor" id="tuple"></a>

### Numpy <a class="anchor" id="numpy"></a>

### Pandas <a class="anchor" id="pandas"></a>

### Plotting <a class="anchor" id="plot"></a>

### Debugging <a class="anchor" id="pdb"></a>