### Topics
This notebook covers the following topics -
1. Basic Concepts
    1. [Basic Syntax](#basic-syntax)
    2. [Lists](#lists)
    3. [String Manipulation](#string)
    4. [Decision making (If statement)](#if)
    5. Loops
        1. [For loop](#for)
        2. [While loop](#while)
    6. [Function](#func)
    7. [Scope](#scope)
    8. Miscellaneous
        1. [Dictionary](#dict)
        2. [Tuples](#tuple)
        3. [List Comprehension](#lc)
        4. [Error Handling](#eh)
        5. [Lambda Expressions](#le)
        6. [Mapping Function](#mf)
        7. [User Input](#ui)
2. Advanced Concepts
    1. [Numpy](#numpy)
    2. [Pandas](#pandas)
    3. [Matplotlib (Plotting)](#plot)
    4. [pdb (Debugging)](#pdb)
    5. [Other Useful Libraries](#oul)

# Basic Topics

### Basic Syntax <a class="anchor" id="basic-syntax"></a>

###### Hello World!

In [1]:
#A basic print statement to display given message
print("Hello World!")

Hello World!

##### Basic Operations

In [57]:
#Addition
2 + 10

12

In [60]:
#Subtraction
2 - 10

-8

In [61]:
#Multiplication
2*10

20

In [62]:
#Division
3/2

1.5

In [63]:
#Integer division
3//2

1

In [58]:
#Raising to a power
10**3

1000

In [59]:
#Exponentiating - not the same as 10^3
10e3

10000.0

##### Defining Variables
You can define variables as `variable_name = value`
- Variable names can be alphanumeric though it can't start with a number.
- Variable names are case sensitive
- The values that you assign to a variable will typically be of these 5 standard data types (In python, you can assign almost anything to a variable and not have to declare what type of variable it is)
    - Numbers (floats, integers, complex etc)
    - Strings*
    - List*
    - Tuple*
    - Dictionary*  
    *Discussed in a later section. Will only show how to define them in this section.

In [10]:
#Numbers
my_num = 5113  #Example of defining an integer
my_float = 3.0 #Example of defining a float

#Strings
truth = "This crash course is just the tip of the iceberg o_O"

#Lists
same_type_list = [1,2,3,4,5] #A simple list of same type of objects - integers
mixed_list = [1,2,"three", my_num, same_type_list] #A list containing many type of objects - integer, string, variable, another list

#Dictionary
simple_dict = {"red": 1, "blue":2, "green":3} #Similar to a list but enclosed in curly braces {} and consists of key-value pairs

#Tuple
aTuple = (1,2,3) #Similar to a list but enclosed in parenthesis ()

##### More print statements
Now we're going to print the variables we defined in the previous cell and look at some more ways to use the print statement

In [3]:
#printing a variable
print(my_float)

3.0

In [11]:
#printing the truth!
print(truth)

This crash course is just the tip of the iceberg o_O

In [4]:
print(simple_dict)

{'red': 1, 'blue': 2, 'green': 3}

In [8]:
print(mixed_list) #Notice how the 4th & 5th objects got the value of the variables we defined earlier

[1, 2, 'three', 5113, [1, 2, 3, 4, 5]]

In [12]:
#Dynamic printing
print("This is DSA {}".format(my_num)) #The value/variable given inside format replaces the curly braces in the string

This is DSA 5113

In [15]:
#When the dynamically set part is a number, we can set the precision
print("Value of pi up to 4 decimal places = {:.4f}".format(3.141592653589793238))

Value of pi up to 4 decimal places = 3.1416

###### Variable Type & Conversion
Every variable has a type (int, float, string, list, etc) and some of them can be converted into certain types

In [16]:
#Finding out the type of a variable
type(my_float)

float

In [17]:
#printing the types of some other variables
print(type(my_num), type(simple_dict), type(truth), type(mixed_list))

<class 'int'> <class 'dict'> <class 'str'> <class 'list'>

In [18]:
#Converting anything to string
str(my_float)

'3.0'

In [19]:
str(simple_dict)

"{'red': 1, 'blue': 2, 'green': 3}"

In [20]:
str(mixed_list)

"[1, 2, 'three', 5113, [1, 2, 3, 4, 5]]"

In [21]:
#converting string to number
three = "3"
int(three)

3

In [22]:
float(three)

3.0

In [25]:
#Converting tuple to a list
list(aTuple)

[1, 2, 3]

In [27]:
#Converting list to a tuple
tuple(same_type_list)

(1, 2, 3, 4, 5)

### Lists <a class="anchor" id="lists"></a>

A versatile datatype that can be thought of as a collection of comma-seperated values.  
Each item in a list has an index. The indices start with 0.  
The items in a list doesn't need to be of the same type

In [70]:
#Defining some lists
l1 = [1,2,3,4,5,6]
l2 = ["a", "b", "c", "d"]
l3 = list(range(2,50,2)) #Creates a list going from 2 up to and not including 50 in increments of 2
print(l3) #displaying l3

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [33]:
#Length of a list 
#The len command gives the size of the list i.e. the total number of items
len(l1)

6

In [34]:
len(l2)

4

**Accessing list items** 
List items can be accessed using their index.  
The first item has an index of 0, the next one has 1 and so on

In [32]:
#First item of l2 is "a" and third item of l1 is 3
print("First item of l2: {}".format(l2[0])) # l2[0] accesses the item at 0th index of l2
print("Third item of l1: {}".format(l1[2])) # l1[0] accesses the item at 2nd index of l1

First item of l2: a
Third item of l1: 3

**Indexing in reverse** List items can be accessed in reversed order using negative indices.  
The last item canbe accessed with -1, second from last with -2 and so on

In [36]:
print("Last item of l3: {}".format(l3[-1])) 
print("Third to last item of l1: {}".format(l1[-3]))

Last item of l3: 48
Third to last item of l1: 4

**Slicing**  
Portions of a list can be chosen using some or all of 3 numbers - starting index, stopping index and increment  
The syntax is `list_name[start:stop:increment]`

In [38]:
#If I want 2,3,4 from list l1, I want to start from index 1 and end at index 3
#The stopping indes is not included so we choose 3+1=4 as stopping index
l1[1:4]

[2, 3, 4]

In [41]:
#In this example we chose items from idex 1 up to index 5, skipping an item every time (increment of 2)
l1[1:6:2]

[2, 4, 6]

In [42]:
#If we just indicate starting index, everything after that is kept
l1[2:]

[3, 4, 5, 6]

In [44]:
#If we just indicate stopping index, everything up to that is kept
l1[:4]

[1, 2, 3, 4]

In [46]:
#Using reverse index
l1[:-2] #Everything except for the last 2 items

[1, 2, 3, 4]

##### List operations

In [50]:
#"adding" two lists results in concatenation
l4 = l1 + l2
l4

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd']

In [51]:
#Multiplying a list by a scalar results in repetition
["hello"]*5

['hello', 'hello', 'hello', 'hello', 'hello']

In [52]:
l2*3

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [53]:
[2]*7

[2, 2, 2, 2, 2, 2, 2]

##### Some other popular list manipulation functions

In [71]:
#Appending to the end of an existing string
l2.append("e")
l2

['a', 'b', 'c', 'd', 'e']

In [72]:
#Insert an item at a particular index - list_name(index, value)
l2.insert(2,"f")
l2

['a', 'b', 'f', 'c', 'd', 'e']

In [74]:
#sorting a list
l2.sort()
l2

['a', 'b', 'c', 'd', 'e', 'f']

In [75]:
#removes item by index and returns the removed item
l4.pop(3) #remove the item at index 3
l4

[1, 2, 3, 5, 6, 'a', 'b', 'c', 'd']

In [76]:
#remove item by matching value
l4.remove("a")
l4

[1, 2, 3, 5, 6, 'b', 'c', 'd']

In [66]:
#maximum or minimum value of a list
max(l3)
#min(l3) for minimum

48

### String Manipulation <a class="anchor" id="string"></a>

Strings are values enclosed in single quotes (' ') or double quotes (" ")  
These are characters or a series of characters and can be manipulated in very similar way to lists, though they have their own special functions

In [91]:
#Defining some strings
str1 = "I hear Rafia is a harsh grader"
str2 = "NO NEED TO SHOUT"
str3 = "fine, no caps lock"

**Accessing & Slicing**

In [82]:
#Very similar to lists
print(str1[:12]) #Takes the 1st 10 characters
print(str1[0]) #Accesses the first character
print(str2[-5:]) #Takes last 5 characters
print(str3[6:13]) #Takes 6 through 9

I hear Rafia
I
SHOUT
no caps

**Other popular string manipulation functions**

In [83]:
#Splitting a string based on a sperator - str_name.split(separator)
print(str1.split(" ")) #separating based on space
print(str2.split()) #If no argument is given to split, default separator is space
print(str3.split(",")) #separating based on space

['I', 'hear', 'Rafia', 'is', 'a', 'harsh', 'grader']
['NO', 'NEED', 'TO', 'SHOUT']
['fine', ' no caps lock']

In [93]:
#Changing case
print(str2.lower()) #All lower case
print(str3.upper()) #All upper case
print(str3.capitalize()) #Only first letter upper case
print("Red".swapcase()) #swaps cases

no need to shout
FINE, NO CAPS LOCK
Fine, no caps lock
rED

In [89]:
#Replace characters by given string
str1.replace("harsh", "good")

'I hear Rafia is a good grader'

In [90]:
#Find a given pattern in a string
str1.find("Rafia") #Returns the index of where the pattern is found

7

In [85]:
#Concatenating and formating string
print(str2 + "  --  " + str3) #adding string concatenates them
str4 = "Strings can be anything, like {} is a string".format(12345)
print(str4)

NO NEED TO SHOUT  --  fine, no caps lock
Strings can be anything, like 12345 is a string

In [86]:
#Like lists, we can multiply to repeat
"Hi"*4

'HiHiHiHi'

In [87]:
#Like lists, we can use len command to find the size of a string
len("apples")

6

**Special Characters**

In [94]:
#\n makes a new line
print("This is making \n a new line")
#\t inserts a tab
print("This just inserts \t a tab")

This is making
 a new line
This just inserts 	 a tab

### If Statement <a class="anchor" id="if"></a>

Executing blockes of code based on whether or not a given condition is true  
The syntax is -
```python
if (condition):
    Do somthing
elif (condition):
    Do some other thing
else:
    Do somet other thing
```  
Only one block will execute - the condition that returns true first  
You can use as many elif blocks as needed

In [99]:
if ("c" in l2):
    print("Yes c is in l2")
    l2.remove("c")
    print("But now it's removed. Here's the new list")
    print(l2)

Yes c is in l2
But now it's removed. Here's the new list
['a', 'b', 'd', 'e', 'f']

In [95]:
a = 5 #defining a variable

In [96]:
if (a>10):
    print("a is greater than 10")
else:
    print("a is less than 10")

a is less than 10

In [97]:
if (a>5):
    print("a is greater than 5")
elif (a<5):
    print("a is less than 5")
else:
    print("a is equal to 5")

a is equal to 5

In [101]:
# assigning a value to variable using if statement
str5 = "This is a great class"
b = "yes" if "great" in str5 else "no" #if great is in str5, b will get a value of yes, otherwise it will be no
c = 1 if a>10 else 0 #if the variable a is greater than 10, c will be 1, otherwise 0
print("b = {}, c = {}".format(b,c))

b = yes, c = 0

## Loops
Loops are an essential tool in python that allows you to repeatedly excute a block of code given certain conditions or based on interating over a given list or array. There's two main types of loops in python - `For` and `While`. There's also `Do..While` loop in python by combinging the Do command and While command but I won't discuss that here.

### For Loop <a class="anchor" id="for"></a>

For loops are useful when you want to iterate a certain number of times or when you want to iterate over a list or array type object  
```python
for i in list_name:
    do something
```

In [102]:
#Looping a certain number of time
for i in range(10):   #iterating over a list going from 0 to 9
    a = i*5
    print("Multiply {} by 5 gives {}".format(i, a))

Multiply 0 by 5 gives 0
Multiply 1 by 5 gives 5
Multiply 2 by 5 gives 10
Multiply 3 by 5 gives 15
Multiply 4 by 5 gives 20
Multiply 5 by 5 gives 25
Multiply 6 by 5 gives 30
Multiply 7 by 5 gives 35
Multiply 8 by 5 gives 40
Multiply 9 by 5 gives 45

In [109]:
#Looping over a list
for item in l4:
    str_item = str(item)
    print("{} - {}".format(str_item, type(str_item)))

1 - <class 'str'>
2 - <class 'str'>
3 - <class 'str'>
5 - <class 'str'>
6 - <class 'str'>
b - <class 'str'>
c - <class 'str'>
d - <class 'str'>

**Loop Control Statements** You can control the execution of a loop using 3 statements -  
- `break` : This breaks out of a loop and moves on to the next segment of your code
- `continue` : This skips any code below it (inside the loop) and moves on to the next iteration
- `pass` : It's used when a statement is required syntactically but you don't want any code to execute

Demonstrating `break`

In [110]:
#l4 is a list that contains both integers and numbers
l4

[1, 2, 3, 5, 6, 'b', 'c', 'd']

So if you try to add numbers to the string elements, you'll get an error.  
To avoid it when iterating over this list, you can insert a break statement in your loop so that your code breaks out of the loop when it encounters a string.

In [112]:
for i in l4:
    if type(i)==str:
        print("Encountered a string, breaking out of the loop")
        break
    tmp = i+10
    print("Added 10 to list item {} to get {}".format(i, tmp))

Added 10 to list item 1 to get 11
Added 10 to list item 2 to get 12
Added 10 to list item 3 to get 13
Added 10 to list item 5 to get 15
Added 10 to list item 6 to get 16
Encountered a string, breaking out of the loop

Demonstrating `continue`

But now, with the `break` statement, it breaks out of the loop any time it encounters string element. If the next element after a string element is an integer, we're missing out on it.  
  
That is where the continue statment comes in. If you use `continue` instead of `break` then, instead of breaking out of the loop, you just skip the current iteration and move to the next one. i.e. you move on to the next element and check again whether it's a string or not and so on..

In [113]:
for i in l4:
    if type(i)==str:
        print("Encountered a string, moving on to the next element")
        continue
    tmp = i+10
    print("Added 10 to list item {} to get {}".format(i, tmp))

Added 10 to list item 1 to get 11
Added 10 to list item 2 to get 12
Added 10 to list item 3 to get 13
Added 10 to list item 5 to get 15
Added 10 to list item 6 to get 16
Encountered a string, moving on to the next element
Encountered a string, moving on to the next element
Encountered a string, moving on to the next element

Demonstrating `pass`

`pass` is more of a placeholder. If you start a loop, you are bound by syntax to write at least one statement inside it. If you don't want to write anything yet, you can use a `pass` statement to avoid getting an error

In [116]:
for i in l4:
    pass

**Popular functions related to loops** There's a lot of usefull functions in python that work well with loops e.g. (range, unpack(*), tuple, split etc.) But there are two very important ones that go hand-in-hand with loops - `zip` & `enumerate` - so these are the ones I'm discussing here.

- `zip` : Used when you want to iterate over two lists of equal length (If the length are not equal, it only iterates up to the length of the shorter list)
- `enumerate` : Used when you want the index of the list item you're iterating over

In [119]:
print(len(l1), len(l3))

6 24

In [118]:
for a, b in zip(l1, l3):
    print("list 1 item is {}, corresponding list 3 item is {}".format(a,b))

list 1 item is 1, corresponding list 3 item is 2
list 1 item is 2, corresponding list 3 item is 4
list 1 item is 3, corresponding list 3 item is 6
list 1 item is 4, corresponding list 3 item is 8
list 1 item is 5, corresponding list 3 item is 10
list 1 item is 6, corresponding list 3 item is 12

In [120]:
for i, (a,b) in enumerate(zip(l1,l3)):
    print("At index {}, list 1 item is {}, corresponding list 3 item is {}".format(i, a, b))

At index 0, list 1 item is 1, corresponding list 3 item is 2
At index 1, list 1 item is 2, corresponding list 3 item is 4
At index 2, list 1 item is 3, corresponding list 3 item is 6
At index 3, list 1 item is 4, corresponding list 3 item is 8
At index 4, list 1 item is 5, corresponding list 3 item is 10
At index 5, list 1 item is 6, corresponding list 3 item is 12

### While Loop <a class="anchor" id="while"></a>

While loops are usefull when you want to iterate a code block **until** a certain condition is satified. While loops often need a counter variable that increments as the loop goes on.
```python
while (condition):
    do something
```

In [124]:
counter = 10
while counter>0:
    print("The counter is still positive and right now, it's {}".format(counter))
    counter-= 1    #incrementing the counter, reducing it by 1 in every iteration

The counter is still positive and right now, it's 10
The counter is still positive and right now, it's 9
The counter is still positive and right now, it's 8
The counter is still positive and right now, it's 7
The counter is still positive and right now, it's 6
The counter is still positive and right now, it's 5
The counter is still positive and right now, it's 4
The counter is still positive and right now, it's 3
The counter is still positive and right now, it's 2
The counter is still positive and right now, it's 1

`pass`, `break` and `continue` statements all work well with `while` loop. `zip` and `enumerate` doesn't usually pair with while since it doesn't iterate over list type objects

### Function <a class="anchor" id="func"></a>

In python, apart from using the built-in functions, you can define your own customized functions using the following syntax -

```python
def function_name(arg1, arg2):
    value = do something using arg1 & arg2
    return value
    
#calling your function
function_name(value1, value2)
```

This is useful when you find yourself repeathing a block of code often.

In [128]:
#Defining the function
def arithmatic_operations(num1, num2):
    """
    A function to perform a series of arithmatic operations on num1 and num2
    Returns the final result as an integer rounded up/down
    """
    add = num1 + num2
    mltply = add*num2
    sbtrct = mltply - num2
    divide = sbtrct/num2
    result = round(divide)
    
    return result

In [130]:
#Anything put inside a multi-line comment (""" """) inside a function, is called a doc-string. 
#You can describe your function inside """ """ and then retrieve this information by doing help(function_name)
help(arithmatic_operations)

Help on function ariethmatic_operations in module __main__:

ariethmatic_operations(num1, num2)
    A function to perform a series of ariethmatic operations on num1 and num2
    Returns the final result as an integer rounded up/down

In [131]:
#Calling the function
resA = arithmatic_operations(10, 5)
resA

14

In [134]:
arithmatic_operations(10, 15)

24

**Setting default values** You can use default argument in you parameter list to set default values or optional arguments  
Default arguments are optional parameters for a function i.e. you can call the function without these parameters  
```python
def new_func(arg1, arg2, arg3=5):
    result = arg1 + arg2 + arg3
    return result
```
Here, arg3 is the optional argument because you've set it to a default value of 5. If you don't provide arg3 when you call this function, arg3 will assume a value of 5. If you don't provide arg1 or arg2, you'll get an error because they are required/positional arguments

Now imagine if someone were to call the `arithmatic_operations` function using string arguments, they'd get an error - because you can't perform arithmatic operations on a string. In that case, we want to be able to convert the input to a number. Let's instroduce a keyword argument `convert` to handle such cases

In [138]:
#Defining the function
def new_arith(num1, num2, convert=False):
    """
    A new function function that can handle even string arguments 
    """
    if convert!=False:
        num1 = float(num1)
        num2 = float(num2)
        
    add = num1 + num2
    mltply = add*num2
    sbtrct = mltply - num2
    divide = sbtrct/num2
    result = round(divide)
    
    return result

In [141]:
#Handles numbers as usual
#Function works fine even if we don't specify convert
new_arith(10, 5)

14

In [139]:
#Since we didn't specify convert, it's assumed to be False
#strings are not converted and we get an error
new_arith("10", "5")

TypeError: can't multiply sequence by non-int of type 'str'

In [140]:
new_arith("10", "5", convert=True)

14

### Scope <a class="anchor" id="scope"></a>

The variables in a program are not accessible by every part of the program. Based on accessibility, there are two types of variables - global variable and local variable.  
  
Global variables are variables that can be accessed by any part of the program. Example from this notebook would be `str1`, `str2`, `truth`, `l1` etc. These variables can be accesed by this entire notebook.  
  
Local variables are variables that can only be accessed in certain parts of the program, e.g. variables defined inside function. Example from this notebook would be  `mltply`, `sbtrct`, `add`, `convert`, `result` etc. these variables are only defined inside the function and can only be accessed by the respective functions

In [142]:
result

NameError: name 'result' is not defined

In [143]:
mltply

NameError: name 'mltply' is not defined

## Miscellaneous

### Dictionary <a class="anchor" id="dict"></a>

### Tuples <a class="anchor" id="tuple"></a>

### List Comprehension <a class="anchor" id="lc"></a>

### Error Handling <a class="anchor" id="eh"></a>

### Mapping Function <a class="anchor" id="mf"></a>

### Lambda Expression <a class="anchor" id="le"></a>

### User Input <a class="anchor" id="ui"></a>

# Advanced Topics

### Numpy <a class="anchor" id="numpy"></a>

### Pandas <a class="anchor" id="pandas"></a>

### Plotting <a class="anchor" id="plot"></a>

### Debugging <a class="anchor" id="pdb"></a>

### Other Useful Libraries <a class="anchor" id="oul"></a>